.subscribe-button{
    background-color: rgb(191, 24, 24);
    color:white;
    border:none;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius:2px;
    cursor: pointer;
    margin-right:8px;
    transition: opacity 1s, background-color 1s;
  }

  .subscribe-button:hover{
    background-color: orangered;
    opacity:0.8
  }

  .subscribe-button:active{
    background-color: blue;

  }

  .join-button{
    background-color:white;
    color:rgb(41, 118, 211);
    height:36px;
    width:55px;
    border-style:solid ;
    border-color:rgb(41, 118, 211);
    border-width:1px;
    border-radius:2px;
    cursor: pointer;
    margin-right:8px;
    transition: background-color 0.15s, color 0.15s;



  }

  .join-button:hover{

    background-color:rgb(41,118,211);
    color:white;

  }

  .tweet-button{
    color:white;
    background-color:rgb(41, 118, 211);
    border-radius:18px;
    width: 66px;
    height:36px;
    font-size:15px;
    font-weight:bold;
    border-style:none;
    cursor:pointer;
    transition: box-shadow 0.15s;
    
  }

  .tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  }

  .prev{
    font-size:15px;
    margin-top:16px;
    margin-right:4px;
  }

  .next{
    font-size:15px;
    margin-top:16px;
    margin-left:4px;
  }

  .search{
    font-size:15px;
    margin-left:4px;
    margin-right:4px;
  }